<launch>
  <arg name="model" />

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find robot_bar)/urdf/robot_waiter.xacro'"/>

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"/>

  <!-- Aggiunta del name mancante -->
  <node pkg="tf2_ros"
        type="static_transform_publisher"
        name="map_to_base"
        args="0 0 0 0 0 0 map base_link"/>

  <!-- Visualizzazione RViz -->
  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find robot_bar)/config/robot_waiter.rviz"
        required="true"/>
</launch>
