<launch>
  <!-- 1) Avvia Gazebo con mondo vuoto -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- 2) Carica il file URDF statico generato da Xacro -->
  <param name="robot_description" command="cat $(find robot_bar)/urdf/robot_waiter.urdf"/>

  <!-- 3) Publisher degli stati dei giunti -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- 4) Visualizza il robot in Gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model robot_waiter -x 0 -y 0 -z 0.1"
        output="screen"/>
</launch>
